div(class='card mb-4')
  p(class='text-sm font-medium text-secondary') #{permalink}
  div(class='mt-2')
    p(class='text-sm text-secondary')
      a(href='https://reddit.com/user/' + author, class='text-primary hover:underline') #{author}
      a(href='index.html?mode=submissions&subreddit=&author=' + author, class='ml-2 text-primary hover:underline') Submissions
      a(href='index.html?mode=comments&author=' + author, class='ml-2 text-primary hover:underline') Comments
      |  - Score: #{score} at #{time}
    div(class='mt-2 prose prose-sm max-w-none') !{body}
  div(class='mt-4')
    a(href='index.html?comments=' + link_id + '&id=' + id, class='text-primary hover:underline') Context